* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: #f7f7f7;/*#FCF0E8;/*#f7f7f7; /*#DAF9FE;/*#d8eceb;*/
}

header {
  /* background-image: url("./images/todefolgaoficial.jpg");
  /* background-repeat: no-repeat; */
  /*background-position: center;
  background-size: contain; */
  height: 200px;
  text-align: center;
}
.img-principal {
  width: 200px;
  margin: 20px;
}
.title {
 
  margin-bottom: 20px;
  color: #0a2229;
  font-weight: bold;
  text-align: center;
}
.detalhe {
  font-size: 0.8rem;
}
.center {
  text-align: center;
  /* border: 1px solid red; */
}
.calculadora {
  margin: 20px auto;
}

.uldata li{
  font-size: 1rem;
  border: 1px solid #D8D8D8;
  text-align: center;
  list-style: none;
}
.li-title {
  font-weight: bold;
  background-color: #FCC204;
  color: #1C1C1C;
}
.folgas {
  border: 1px solid red;
}
.img-folga {
  width: 90%;
}
.btn {
  margin: 10px 0 20px;
}
footer{
  background-color: #1C1C1C;
  color:#F2F2F2; 
  font-size: 0.8rem;
  height: 40px;
}


footer p{
  height: 100%;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.link:link, .link:hover, .link:active, .link:visited{
  color:#F2F2F2; 
  outline: none;
  text-decoration: none;
}
